html {
  background-color: orange;
}
body {
  color: white;
  display: grid; grid-template-columns: 2fr;
  background-color: orange;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
div {
  background-color: gray;
  padding: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  display: inline;
  text-align: right;
  flex-direction: row;
  align-items: flex-end;
}
a {
  color: white;
  padding: 10px;
}
h2 {
  display: inline-flex;
  font-size: 30pt;
}
p {
  font-size: 20pt;
}
nav {box-shadow: 0 0 12px -2px black;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: slategray;
  color: white;
  display: flex;
  height: 60px;
  padding: 15px;
  display: flex; flex-direction: row;
  justify-content: space-between;
}
img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
h2 {
  font-size: 30pt;
  display: inline-block; border-block-style: solid;background-origin: padding-box;align-items: center;
}
@media screen and (max-width: 1680px) and (max-height: 1050px) {
  body {
    background-color: orange;
  }
}
@media screen and (max-width: 1024px) and (max-height: 768px) {
  body {
    background-color: red
  }
}
@media screen and (max-width: 480px) and (max-height: 320px) {
  body {
    background-color: blue;
  }
}