html {
  background-color: orange;
}
* {
  color: whitesmoke;
  box-sizing: border-box;
}
div {
  background-color: gray;
  padding: 20px;
}
header {
  display: flex;
  position: fixed; top: 0;
  background-color: lightsteelblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
li {
  display: inline;
  text-align: right;
  flex-direction: row;
  align-items: flex-end;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
h2 {
  display: inline-flex;
  font-size: 30pt;
}
p {
  font-size: 20pt;
}
